.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
  display: none;
}
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

html,body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin : 0px;
  padding : 0px;
}


  .enter-chat{
    display: block;
    position:relative;
    height: 100%;
    width: 100%;
  }

  .chat{
    display: block;
    position:relative;
    height: 100%;
    width: 100%;
  }
    .users, .messages{
      padding: 0px;
      float: left;
    }

  

    .users {

      
    }

    .messages{
      border-left: 1px solid #e9ebee;
      overflow:auto;
    }
      .message{
        padding: 10px;
        display: block;
        min-height: 50px;
        height : auto !important;
        clear:both;
      }
        .username, .data{
          display: inline-block;
          float:left;
          margin-right: 10px;
        }
     

      .no-message{
        margin: 10px;
      }
  

    .chatbox, .gifbox{
      position:fixed;
      bottom: 0px;
      padding: 0px;
    }

    .gifbox{
      height: 200px;
      width : 100%;
      border-left: 1px solid #e9ebee;
    }
      .gifs{
        height: 160px !important;
        overflow-y : scroll;
        padding: 5px;
      }
        .gif{
          position:relative;
          display: inline-block;
          float:left;
          margin-right: 5px;
          padding-bottom: 5px;
        }
         
          .share{
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin:auto;
            height: 30px;
            width: 30px;
            font-size: 30px;
            cursor: pointer;
            color:white;
            display: none;
          }
        

        .searching{
          display: block;
          color:grey;
          font-size: 18px;
        }
      
   


